body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.imageSize {
  width: 250px;
  height: 250px;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dishList {
  display: inline-block;
  width: 250px;
}

.navbar {.para_test {
  
  display: inline;
  font-family: sans-serif;
    text-align: center;
    
}
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: black;
  padding: 2px;
}
.navbar h2 {
  color: #f1356d;
}

.calcCenter {
padding-left: 40%;
}
.folderImg {
  width: 250px;
  height: 250px;
  padding: 5px;
}
.content{
  background: #ffffff;
  
}
.bdy{
  padding: 1em 5%;
}
.width1{
  display: inline-block;
  margin: 2em 5em;
  width: 200px;
  &:div{
    vertical-align: middle;;
  }
}
h5{
  color: #000;
  font-weight: 700px;
}
.btnFont {
  color: #ffffff;
  font-size: medium;
  font-weight: bold;
}
.contactForm {
  padding: 25px;
  /* border: 1px solid #f2f2f2; */
  color: black;

}
.contactForm label{
  color: aliceblue;
}
.wallPaperImg {
  width: min-content;
}
.sorting-styling{
  width: 70%;
  margin: 2% 5%;

}
.twitter {
  width:30%;
}
.total{
  margin: 0.4em;
}
.shadow-box-example {
  height: 120px;
  width: 100%;
  background-color: #64b5f6;
  padding: 0.3em;
  box-shadow: #65baf6 1px 1px 3px 2px;
}




/* Twitter */
*, *:before, *:after {
  box-sizing: border-box;
}
.apps{
  background: #f0f0f0;
  width:100%;
  height:960px;
  display: block;
}
.section{
  width: 30%;
  display: inline;
}
.app{
  display: inline-block;
  float: right;
  border: 1px solid white;
  border-radius: 12px;
  background: #F7F9FA;
  margin: 20px;
}
.suggestions-head{
  padding: 15px 12px 5px;
  border-bottom: 1px solid #e3e3e3;
/*   width: 380px;
  border: 1px solid white;
  padding: 20px;
  background: white; */
/*   text-align: center; */
}
/* span, p{
    color: #D05716;
    margin: 0 6px;
  font-size: 14px;
} */
h5{
  font-family: Verdana, Helvetica, sans-serif;
  display: inline-block;
  margin: 0 8px;
}
hr{
  padding: 0; 
  margin-bottom: 0.2em;
  margin-top: 0px;
  
}
.suggestions{
  padding: 7px 20px 0px;
  height: 85px;
  border-bottom: 1px solid #EBEEF0;
  &:hover{
    background: #ebf0f5;
  }
}
.user-image{
  display: inline-block;
  height: 66px;
  padding-top: 0px;
  margin-top:0px;
}
.user-image img{
  width: 4.1em;
  border-radius: 50%;
}
.users{
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  width: 40%;
}
.user-details{
  display: display;
  display: inline;
  margin-top: 10px;
  .name{
    color: black;
    font-size: 17px;
    display: flex;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .username{
    color: #7c7c7c;
    font-size: 17px;
    margin-left: 0;
    width: 80px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.follow{
  width: 20%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5%;
  margin-bottom:0;
  margin-left: 4%;
  
}
.follow-link{
  color: #1da1f2;
  border: 1px solid #1da1f2;
  border-radius: 15px;
  padding: 6px 18px;
  &:hover{
    background: #1da1f226;
    color: #1da1f2;
  }
}
.follow button{
  font-size: 15px;
  font-weight: bold;
  font-family: Arial;
  color: none;
}
/* File upload */
.imgPreview {
  width: 250px;
  height: 250px;
}


/* About */
.test2 {
    width: 100%;
    height: 800px;
    background-size: cover;
    position: relative;
    background-image: url("https://wallpapercave.com/wp/wp1828929.jpg");
    /* background-size: contain; */
  padding: 5%;
}
.para_test h4{
  
    color: #fff;
    display: inline;
    padding: 1%;
    margin: 5%;
    color: #fff;
    text-transform: uppercase;
    word-spacing: 1%;
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 30%;
    line-height: 1.6;
    transform: translate(-50%, -50%);
}
.test2 h1 {
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    display: inline;
    padding: 1%;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cardGap {
  margin: 25px;
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
}
.zoom {
  
  background-color: green;
  transition: transform .2s;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.text_family {
  font-family:Helvetica;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
}
.mydetails {
  font-family:Helvetica;
  font-weight: 600;
  color: lightseagreen;
  text-align: left;
}
.input_color  {
  width: 90%;
  height: 10px;
  box-shadow: 1px 1px 1px #000000;
  border-radius: 5px;
 
}

/* Image fixed */

.parallax-effect {
  background-image: url("https://wallpaperaccess.com/full/796832.jpg");
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-effect + div { 
  height: 200px;
  width: 100%;
  background-image: linear-gradient(to right top, #e9dfdf, #dbc3d8, #000000, #d0a1d1, #c9b2d3);
  font-size: 15px;
  color: #fff;
  text-align: center;
  font-family: 'Raleway', Arial, sans-serif;
}

/* .img_height {
  height: 500px;
}
.sticky {
  height: 400px;
  width: 100%;
}
p.ex1 {
  width: 100%;
  height: 400px;
  overflow: scroll ;
} */